<h2> Izzy's 🎸</h2>

<h2>Tienda de Guitarras</h2>

<div class="contenedor">
  <div class="card" *ngFor="let guitarra of guitarras">
    <img [src]="guitarra.imagen">
    <h3>{{ guitarra.nombre }}</h3>
    <p>$ {{ guitarra.precio }}</p>
    <button (click)="verMas(guitarra)">Ver mas</button>
  </div>
</div>

<section class="detalle" *ngIf="guitarraSeleccionada">
    
  <h2>{{ guitarraSeleccionada.nombre }}</h2>

  <div class="detalle-card">
    <img [src]="guitarraSeleccionada.imagen">

    <div class="info">
      <p><strong>Madera:</strong> {{ guitarraSeleccionada.specs.madera }}</p>
      <p><strong>Pastillas:</strong> {{ guitarraSeleccionada.specs.pastillas }}</p>
      <p><strong>Puente:</strong> {{ guitarraSeleccionada.specs.puente }}</p>
      <p><strong>Uso:</strong> {{ guitarraSeleccionada.specs.uso }}</p>
    </div>
  </div>
</section>


<section class="specs">
  <h2>Especificaciones</h2>

  <div class="specs-grid">
    <div class="spec-card">
      <h3>Maderas</h3>
      <p>Cuerpos de caoba, aliso y fresno con acabados premium.</p>
    </div>

    <div class="spec-card">
      <h3>Sonido</h3>
      <p>Pastillas humbucker y single coil para tonos versátiles.</p>
    </div>

    <div class="spec-card">
      <h3>Hardware</h3>
      <p>Puentes fijos y flotantes de alta precisión.</p>
    </div>

    <div class="spec-card">
      <h3>Uso</h3>
      <p>Perfectas para rock, metal, blues y otros estilos.</p>
    </div>
  </div>
</section>

